/*----------------------------------------------------------------------------------- */
/*  Fonts */
/*----------------------------------------------------------------------------------- */

@charset 'UTF-8';
@import url('@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic)');
@import url('font-awesome.min.css');


/*----------------------------------------------------------------------------------- */
/*  Basic */
/*----------------------------------------------------------------------------------- */
/* Container */

  body {
    /* min-width: (containers) */
    min-width: 1200px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    
    /* width: (containers) */
    width: 1200px;
  }

  /* Modifiers */
  
    .container.small {
      /* width: (containers) * 0.75; */
      width: 900px;
    }

    .container.big {
      width: 100%;

      /* max-width: (containers) * 1.25; */
      max-width: 1500px;

      /* min-width: (containers); */
      min-width: 1200px;
    }
  body,input,textarea,select {
    font-size: 15pt;
  }


  body {
    background: #fff;
  }

    body.is-loading *
    {
      -moz-transition: none !important;
      -webkit-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
      -moz-animation: none !important;
      -webkit-animation: none !important;
      -o-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
    }

  body,input,textarea,select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    line-height: 1.75em;
    color: #39454b;
    letter-spacing: 0.5px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    color: inherit;
  }
  
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
      color: inherit;
      text-decoration: none;
    }
    
  h2 {
    font-size: 2.25em;
    letter-spacing: -2px;
    line-height: 1.25em;
    margin-top: 0;
  }
    
  strong, b {
    font-weight: 900;
    color: inherit;
  }
  
  em, i {
    font-style: italic;
  }

  a {
    color: #98c593;

    -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
  }
  
  sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
  }
  
  hr {
    border: 0;
    border-top: solid 1px #ddd;
  }
  
  blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
  }
  
  p, ul, ol, dl, table {
    margin-bottom: 1em;
  }

  header {
    margin-bottom: 1em;
  }
  
    header p {
      display: block;
      margin: 1em 0 0 0;
      padding: 0 0 0.5em 0;
    }
    
  footer {
    margin-top: 2em;
  }

  br.clear {
    clear: both;
  }

  /* Sections/Article */
  
    section,
    article {
      margin-bottom: 3em;
    }
    
      section > :last-child,
      article > :last-child {
        margin-bottom: 0;
      }

      section > .content > :last-child,
      article > .content > :last-child {
        margin-bottom: 0;
      }

      section:last-child,
      article:last-child {
        margin-bottom: 0;
      }

      .row > section,
      .row > article {
        margin-bottom: 0;
      }

/*----------------------------------------------------------------------------------- */
/*  Background color helper classes */
/*----------------------------------------------------------------------------------- */
.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger, .bg-muted {
  color: white; }
  .bg-primary .page-header, .bg-success .page-header, .bg-info .page-header, .bg-warning .page-header, .bg-danger .page-header, .bg-muted .page-header {
    color: white; }

.bg-primary {
  background-color: #32b9b1; }

.bg-success {
  background-color: #51be38; }

.bg-info {
  background-color: #5bc0de; }

.bg-warning {
  background-color: #ef9544; }

.bg-danger {
  background-color: #f05a5b; }

.bg-muted {
  background-color: #bbbbbb; }

/*----------------------------------------------------------------------------------- */
/*  Buttons */
/*----------------------------------------------------------------------------------- */
.btn {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  font-weight: 600; }
  .btn.active, .btn:active {
    box-shadow: none; }

.btn-primary {
  background: #32b9b1; }
  .btn-primary:hover, .btn-primary.active, .btn-primary:focus {
    background: #2ea9a2; }

.btn-success {
  background: #51be38; }
  .btn-success:hover, .btn-success.active, .btn-success:focus {
    background: #4aae33; }

.btn-info {
  background: #5bc0de; }
  .btn-info:hover, .btn-info.active, .btn-info:focus {
    background: #4ab9db; }

.btn-warning {
  background: #ef9544; }
  .btn-warning:hover, .btn-warning.active, .btn-warning:focus {
    background: #ed8a31; }

.btn-danger {
  background: #f05a5b; }
  .btn-danger:hover, .btn-danger.active, .btn-danger:focus {
    background: #ee4748; }

.btn-link {
  color: #32b9b1; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }
  .btn-group.open .dropdown-toggle.btn-primary {
    background-color: #227d77;
    border-color: #227d77; }
    .btn-group.open .dropdown-toggle.btn-primary .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-success {
    background-color: #388327;
    border-color: #388327; }
    .btn-group.open .dropdown-toggle.btn-success .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-info {
    background-color: #28a1c5;
    border-color: #28a1c5; }
    .btn-group.open .dropdown-toggle.btn-info .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-warning {
    background-color: #d46e12;
    border-color: #d46e12; }
    .btn-group.open .dropdown-toggle.btn-warning .caret {
      border-top-color: white; }
  .btn-group.open .dropdown-toggle.btn-danger {
    background-color: #e81517;
    border-color: #e81517; }
    .btn-group.open .dropdown-toggle.btn-danger .caret {
      border-top-color: white; }

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -2px; }
.btn-group.open .dropdown-toggle {
  box-shadow: none; }

/*----------------------------------------------------------------------------------- */
/*  Nav pills */
/*----------------------------------------------------------------------------------- */
.nav-pills > li > a {
  font-weight: 600; }
  .nav-pills > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #32b9b1; }

/*----------------------------------------------------------------------------------- */
/*  Dropdowns */
/*----------------------------------------------------------------------------------- */
.dropdown-menu {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-align: left; }
  .dropdown-menu > li > a {
    color: black;
    padding: 5px 12px 7px; }
  .dropdown-menu > li:first-child a {
    border: 0; }
  .dropdown-menu .divider {
    margin: 4px 0; }

/*----------------------------------------------------------------------------------- */
/*  Tables */
/*----------------------------------------------------------------------------------- */
.table thead tr th {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: black;
  border: 0;
  vertical-align: middle; }
.table tbody {
  background-color: white; }
  .table tbody tr td {
    font-size: 14px;
    border-top: 0;
    vertical-align: middle; }
.table tfoot > tr > td {
  border-top: 0; }
.table tfoot > tr:first-child > td {
  border-top: 1px solid #dddddd;
  padding-top: 15px; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(0, 0, 0, 0.05); }

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background-color: #51be38;
  color: white; }

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  background-color: #5bc0de;
  color: white; }

.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
  background-color: #ef9544;
  color: white; }

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: #f05a5b;
  color: white; }

/*----------------------------------------------------------------------------------- */
/*  Labels */
/*----------------------------------------------------------------------------------- */
.label-primary {
  background-color: #32b9b1; }

.label-default {
  background-color: #bbbbbb; }

.label-success {
  background-color: #51be38; }

.label-info {
  background-color: #5bc0de; }

.label-warning {
  background-color: #ef9544; }

.label-danger {
  background-color: #f05a5b; }

/*----------------------------------------------------------------------------------- */
/*  List groups */
/*----------------------------------------------------------------------------------- */
.list-group .list-group-item.active, .list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
  color: white;
  background-color: #32b9b1;
  border-color: #27918b; }
  .list-group .list-group-item.active .badge, .list-group .list-group-item.active:hover .badge, .list-group .list-group-item.active:focus .badge {
    color: #32b9b1;
    background-color: white; }

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #32b9b1;
  border-color: #32b9b1; }

/*----------------------------------------------------------------------------------- */
/*  Form styles */
/*----------------------------------------------------------------------------------- */
label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px; }

.form-group {
  margin-bottom: 25px; }

.form-control {
  border: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35); }
  .form-control:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35); }

.input-group {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35);
  border-radius: 4px; }
  .input-group.input-group-lg {
    border-radius: 6px; }
  .input-group.input-daterange {
    border-radius: 4px; }
  .input-group .form-control {
    border: 0;
    box-shadow: none; }
  .input-group .input-group-btn .btn {
    margin: 0 !important;
    border: 0 !important; }
  .input-group .input-group-addon {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    color: black; }

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
  margin-right: -2px;
  position: relative;
  z-index: 10; }

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -2px; }

.has-feedback .form-control-feedback {
  top: 50%;
  margin-top: -17px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #60c560; }
.has-success .form-control {
  border-color: #60c560; }
.has-success .form-control-feedback {
  color: #60c560; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #f0ad4e; }
.has-warning .form-control {
  border-color: #f0ad4e; }
.has-warning .form-control-feedback {
  color: #f0ad4e; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #d9534f; }
.has-error .form-control {
  border-color: #d9534f; }
.has-error .form-control-feedback {
  color: #d9534f; }

/*----------------------------------------------------------------------------------- */
/*  Emphasis Classes */
/*----------------------------------------------------------------------------------- */
.text-primary {
  color: #32b9b1; }

.text-success {
  color: #51be38; }

.text-info {
  color: #5bc0de; }

.text-warning {
  color: #ef9544; }

.text-danger {
  color: #f05a5b; }

/*----------------------------------------------------------------------------------- */
/*  Panels */
/*----------------------------------------------------------------------------------- */
.panel {
  border: 0; }
  .panel .panel-body {
    padding: 20px; }

.panel-heading .panel-toggle {
  background: #f9fafa; }
.panel-heading .panel-title {
  font-size: 18px; }

/*----------------------------------------------------------------------------------- */
/*  Tab Styles */
/*----------------------------------------------------------------------------------- */
.nav-tabs > li > a {
  border-radius: 0px; }
  .nav-tabs > li > a:hover {
    background-color: rgba(0, 0, 0, 0.05); }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: white; }

.tab-content {
  background-color: white;
  border: 1px solid #dddddd;
  border-top: 0;
  padding: 15px 15px 5px; }

/*----------------------------------------------------------------------------------- */
/*  Progress Bars */
/*----------------------------------------------------------------------------------- */
.progress {
  box-shadow: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.06); }
  .progress .progress-bar {
    box-shadow: none;
    background-color: #32b9b1; }
  .progress .progress-bar-success {
    background-color: #51be38; }
  .progress .progress-bar-info {
    background-color: #5bc0de; }
  .progress .progress-bar-warning {
    background-color: #ef9544; }
  .progress .progress-bar-danger {
    background-color: #f05a5b; }

.well {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.05); }

html, body {
  margin: 0;
  padding: 0; }


.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  color: white; }
  .scroll-down p {
    font-size: 20px;
    margin-bottom: 0; }

.services {
  padding: 0;
  list-style: none;
  margin-top: 80px; }
  .services li {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 70px;
    opacity: 0; }
    .services li.animated {
      opacity: 1; }

body.fullPage-portfolio {
  overflow: hidden; }

#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none; }

.table {
  background-color: transparent;
  margin: 0;
  box-shadow: none; }

.section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.slide {
  float: left;
  height: 100%;
  display: block; }

.slidesContainer {
  height: 100%;
  display: block; }

.slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.section.table, .slide.table {
  display: table;
  width: 100%; }

.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.slidesContainer {
  float: left;
  position: relative; }

.controlArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin-top: -64px;
  font-family: FontAwesome;
  font-size: 90px;
  color: white; }
  .controlArrow.prev {
    left: 20px; }
    .controlArrow.prev:after {
      content: "\f104"; }
  .controlArrow.next {
    right: 20px; }
    .controlArrow.next:after {
      content: "\f105"; }

.scrollable {
  overflow: scroll; }

.easing {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out; }

#fullPage-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1; }
  #fullPage-nav.right {
    right: 17px; }
  #fullPage-nav.left {
    left: 17px; }

.fullPage-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fullPage-slidesNav.bottom {
    bottom: 17px; }
  .fullPage-slidesNav.top {
    top: 17px; }

#fullPage-nav ul, .fullPage-slidesNav ul {
  margin: 0;
  padding: 0; }

#fullPage-nav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fullPage-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  display: inline-block; }

#fullPage-nav li a, .fullPage-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fullPage-nav li .active span, .fullPage-slidesNav .active span {
  background: black; }

#fullPage-nav span, .fullPage-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1; }

.fullPage-tooltip {
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  top: -2px; }
  .fullPage-tooltip.right {
    right: 20px; }
  .fullPage-tooltip.left {
    left: 20px; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 62px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative; }
    .overlay ul li {
      display: block;
      height: 20%;
      min-height: 54px; }
      .overlay ul li a {
        font-weight: 600;
        display: block;
        color: white;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s; }
        .overlay ul li a:hover, .overlay ul li a:focus {
          opacity: 0.3;
          text-decoration: none; }

.overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .overlay nav {
    -webkit-perspective: 1200px;
    perspective: 1200px; }
    .overlay nav ul {
      opacity: 0.4;
      -webkit-transform: translateY(-25%) rotateX(35deg);
      transform: translateY(-25%) rotateX(35deg);
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s; }
  .overlay.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .overlay.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg); }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } 
  }

#menu {
  position: fixed;
  z-index: 70;
  top: 30px;
  right: 30px;
  cursor: pointer; 
  display: none;
}
  #menu .menu-bars {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 30px; }
    #menu .menu-bars span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      -webkit-transition-duration: 0s;
      -webkit-transition-delay: 0.2s;
      width: 40px;
      height: 6px;
      background-color: white;
      display: block; }
      #menu .menu-bars span:before, #menu .menu-bars span:after {
        position: absolute;
        content: ""; }
      #menu .menu-bars span:before, #menu .menu-bars span:after {
        width: 40px;
        height: 6px;
        background-color: white;
        display: block; }
      #menu .menu-bars span:before {
        margin-top: -12px;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0; }
      #menu .menu-bars span:after {
        margin-top: 12px;
        -webkit-transition-property: margin, -webkit-transform;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0; }
    #menu .menu-bars.open span {
      background-color: rgba(0, 0, 0, 0);
      -webkit-transition-delay: 0.2s; }
    #menu .menu-bars.open span:before {
      margin-top: 0;
      -webkit-transform: rotate(45deg);
      -webkit-transition-delay: 0, 0.2s; }
    #menu .menu-bars.open span:after {
      margin-top: 0;
      -webkit-transform: rotate(-45deg);
      -webkit-transition-delay: 0, 0.2s; }

#logo {  
  position: fixed;
  z-index: 70;
  top: 30px;
  right: 44%;
  cursor: pointer; 
}

#logo img {
    width: 150px;
  height: auto;
  opacity: .3;
}

/************************************/
/* =SPACERS  */
/************************************/

  .top-minus-10{margin-top:-10px}
  .top-minus-20{margin-top:-20px}
  .top-minus-30{margin-top:-30px}
  .top-minus-40{margin-top:-40px}
  .top-minus-45{margin-top:-45px}
  .top-minus-60{margin-top:-60px}
  .top-0{margin-top:0}
  .top-5{margin-top:5px}
  .top-10{margin-top:10px}
  .top-15{margin-top:15px}
  .top-20{margin-top:20px}
  .top-22{margin-top:22px}
  .top-25{margin-top:25px}
  .top-30{margin-top:30px}
  .top-35{margin-top:35px}
  .top-40{margin-top:40px}
  .top-45{margin-top:45px}
  .top-50{margin-top:50px}
  .top-55{margin-top:55px}
  .top-60{margin-top:60px}
  .top-65{margin-top:65px}
  .top-70{margin-top:60px}
  .top-80{margin-top:80px}
  .top-85{margin-top:85px}
  .top-90{margin-top:90px}
  .top-95{margin-top:95px}
  .top-100{margin-top:100px}
  .top-110{margin-top:110px}
  .top-120{margin-top:120px}
  .top-140{margin-top:140px}
  .top-150{margin-top:150px}
  .top-160{margin-top:160px}
  .top-180{margin-top:180px}
  .top-200{margin-top:200px}
  .top-250{margin-top:250px}

  @media(max-width:768px){
    .top-200{margin-top:100px}
    .top-180{margin-top:90px}
    .top-160{margin-top:80px}
    .top-140{margin-top:70px}
    .top-120{margin-top:60px}
    .top-100{margin-top:50px}
    .top-80{margin-top:40px}
    .top-60{margin-top:30px}
    .top-65{margin-top:32px}
    .top-40{margin-top:20px}
    .top-30{margin-top:15px}
    .top-25{margin-top:12px}
    .top-20{margin-top:10px}
  }


/*----------------------------------------------------------------------------------- */
/*  Big Picture */
/*----------------------------------------------------------------------------------- */


  /* Sections/Article */
  
    section,
    article {
      margin-bottom: 3em;
    }
    
      section > :last-child,
      article > :last-child {
        margin-bottom: 0;
      }

      section > .content > :last-child,
      article > .content > :last-child {
        margin-bottom: 0;
      }

      section:last-child,
      article:last-child {
        margin-bottom: 0;
      }

      .row > section,
      .row > article {
        margin-bottom: 0;
      }

/* Table */
  
    table {
      width: 100%;
    }
    
      table.default {
        width: 100%;
      }
      
        table.default tbody tr:nth-child(2n+2) {
          background: #f4f4f4;
        }
        
        table.default td {
          padding: 0.5em 1em 0.5em 1em;
        }
        
        table.default th {
          text-align: left;
          font-weight: 900;
          padding: 0.5em 1em 0.5em 1em;
        }
      
        table.default thead {
          background: #444;
          color: #fff;
        }
        
        table.default tfoot {
          background: #eee;
        }
        
        table.default tbody {
        }
  /* Button */
    
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    .button {
      background-color: #98c593;
      border: 0;
      border-radius: 3.5em;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      height: 3.5em;
      line-height: 3.5em;
      outline: 0;
      padding: 0 2em 0 2em;
      position: relative;
      text-align: center;
      text-decoration: none;

      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      -ms-appearance: none;
      appearance: none;

      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

      .button.down {
        width: 80px;
        height: 80px;
        line-height: 80px;
        padding: 0;
        background-image: url('../img/dark-arrow.svg');
        background-position: center center;
        background-repeat: no-repeat;
        x-text-indent: -10em;
        overflow: hidden;
      }
      
        .button.down.anchored {
          bottom: 0;
          border-bottom: 0;
          border-radius: 3em 3em 0 0;
          height: 4.5em;
          margin-left: -2.5em;
        }
      
      .button.anchored {
        position: absolute;
        left: 50%;
      }
      
      input[type="button"]:hover,
      input[type="submit"]:hover,
      input[type="reset"]:hover,
      .button:hover {
        background-color: #a8d5a3;
      }
      
      input[type="button"]:active,
      input[type="submit"]:active,
      input[type="reset"]:active,
      .button:active {
        background-color: #88b583;
      }

      input[type="button"].style2,
      input[type="submit"].style2,
      input[type="reset"].style2,
      .button.style2 {
        background-color: transparent;
        border: solid 2px #e5e6e7;
        color: inherit;
      }

        input[type="button"].style2:hover,
        input[type="submit"].style2:hover,
        input[type="reset"].style2:hover,
        .button.style2:hover {
          background-color: rgba(145,146,147,0.035);
        }
        
        .button.style2.down {
          background-image: url('http://arburako.github.io/inst-ca0315/img/arrow.svg');
        }

  /* Box */

    .box {
      background: #fff;
      color: #39454b;
      padding: 2em;
    }
    
      .box.style2 {
        padding: 3.5em 2.5em 3.5em 2.5em;
        text-align: left;
      }
      .box.style3 {
        padding: 0;
        text-align: center;
      }

  /* Main */
    
    .main {
      
      margin: 0;
      overflow-x: hidden;
    }
    
      .main.style1 {
        text-align: center;
        padding: 10em 0 10em 0;
      }
      
        .main.style1 h2 {
          font-size: 4.25em;
          line-height: 1em;
          letter-spacing: -4px;
        }
        
        .main.style1 .content {
          opacity: 1.0;

          -moz-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          transition: all 1s ease;
          
          -moz-transform: translateZ(0);
          -webkit-transform: translateZ(0);
          -o-transform: translateZ(0);
          -ms-transform: translateZ(0);
          transform: translateZ(0);
        }
        
      .main.style1.inactive {
      }
      
        .main.style1.inactive .content {
          opacity: 0;
        }
      .main.style2 {
        padding: 10em 0 10em 0;
        overflow: hidden;
      }
      
        .main.style2 .content {
          position: relative;
          width: 35%;

          -moz-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          transition: all 1s ease;
          
          -moz-transform: translateZ(0);
          -webkit-transform: translateZ(0);
          -o-transform: translateZ(0);
          -ms-transform: translateZ(0);
          transform: translateZ(0);
        }
      
        .main.style2.left {
        }

          .main.style2.left .content {
            left: 0;
          }

        .main.style2.right {
        }

          .main.style2.right .content {
            left: 65%;

          }

        .main.style2.inactive {
        }

          .main.style2.inactive .content {
          }

            .main.style2.inactive.left .content {
              left: -35%;
            }

            .main.style2.inactive.right .content {
              left: 100%;
            }

  /* Dark */

    .dark {
      color: #fff;
    }

      .dark a {
        color: #fff;
      }
    
      .dark .button.style2 {
        border-color: inherit;
        background-color: rgba(64,64,64,0.05);
      }

        .dark .button.style2:hover {
          background-color: rgba(255,255,255,0.1);
        }
        
        .dark .button.style2.down {
          background-image: url('../img/dark-arrow.svg');
        }

  
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

  #section0 {
    background: url('http://arburako.github.io/inst-ca0315/img/overlay.png'), url('http://arburako.github.io/inst-ca0315/img/intro.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }



/*********************************************************************************/
/* Section1                                                                         */
/*********************************************************************************/

  #section1 {
    background: url('http://arburako.github.io/inst-ca0315/img/overlay.png'), url('http://arburako.github.io/inst-ca0315/img/section1.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }


/*********************************************************************************/
/* Section2                                                                         */
/*********************************************************************************/

  #section2 {
    background: url('http://arburako.github.io/inst-ca0315/img/overlay.png'), url('http://arburako.github.io/inst-ca0315/img/section2.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }



/*********************************************************************************/
/* Section3                                                                        */
/*********************************************************************************/

  #section3 {
    background: url('http://arburako.github.io/inst-ca0315/img/overlay.png'), url('http://arburako.github.io/inst-ca0315/img/section3.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }

/*********************************************************************************/
/* Section4                                                                     */
/*********************************************************************************/

  #section4 {
    background: url('../img/overlay.png'), url('../img/section4.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }

/*********************************************************************************/
/* thankyou                                                                        */
/*********************************************************************************/

  #thankyou {
    background: url('../img/overlay.png'), url('../img/thankyou.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }


  /*********************************************************************************/
/* confirmed                                                                        */
/*********************************************************************************/

  #confirmed {
    background: url('../img/overlay.png'), url('../img/confirmed.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
  }
  .subscribe {
  background: #23292F;
  opacity: .8;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  text-align: center;
  max-width: 70%;
  margin: auto 15%;

}
#mc_embed_signup {
   -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(131, 140, 149);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(131, 140, 149);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(131, 140, 149);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(131, 140, 149);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  clear: both;
  color: rgb(131, 140, 149);
  display: block;
  font-family: opensans-regular, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 60px;
  line-height: 30px;
  margin: 6px 0 30px 0;
  outline-color: rgb(131, 140, 149);
  outline-style: none;
  outline-width: 0px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
  min-width: 100%;
}
#mce-EMAIL{
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInLeftBig;
  -webkit-appearance: none;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(211, 217, 217);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(100, 115, 115);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(100, 115, 115);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(100, 115, 115);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(100, 115, 115);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(100, 115, 115);
  cursor: auto;
  display: block;
  float: left;
  font-family: montserrat-regular, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 60px;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0;
  max-width: 100%;
  opacity: 0.999999940395355;
  outline-color: rgb(100, 115, 115);
  outline-style: none;
  outline-width: 0px;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  width: 47%;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

#mc-embedded-subscribe {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInRightBig;
  -webkit-appearance: none;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(17, 171, 176);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: right;
  font-family: montserrat-bold, sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 60px;
  letter-spacing: 2px;
  line-height: 60px;
  margin: 0;
  opacity: 0.999999940395355;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: none;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 47%;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

#mc-embedded-thankyou {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInRightBig;
  -webkit-appearance: none;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(17, 171, 176);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: right;
  font-family: montserrat-bold, sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 60px;
  letter-spacing: 2px;
  line-height: 60px;
  margin: 0;
  opacity: 0.999999940395355;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: none;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 50%;
  margin: auto 25%;
  word-spacing: 0px;
  writing-mode: lr-tb;
}

.container-fluid {
  padding: 0;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } 
  }


